extends layout

block content
    .jumbotron
        h1 About
        p: h4 Dinkoverte: a revolution in productivity for the new generation. Here's why people are getting excited about Dinkoverte:
    .container
        .col-md-4
            h2 Feature1
            p Some details about this feature.
        .col-md-4
            h2 Feature2
            p Another awesome feature.
        .col-md-4
            h2 Feature3
            p Yet more awesomeness to blow your mind.
    br
    br
    p Want to find out more? Read some user testimonials <a href='#'>here</a>.
