extends layout

block content
    .jumbotron
        h1=title
        p "The future is only a second away."
        p: a.btn.btn-primary.btn-lg.btn-blue(role="button" href='/about') Learn more &raquo;
    p Some content will go here.
    p And then some more.