// Fixed navbar
nav.navbar.navbar-fixed-top.navbar-blue(role='navigation')
    .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') Dinkoverte

        // Collect the nav links, forms and other content for toggling
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav
                each page, url in {'/' : 'Home', '/about' : 'About', '/contact' : 'Contact'}
                    if navbarActive === page
                        li.active: a(href=url)=page
                    else
                        li: a(href=url)=page
            ul.nav.navbar-nav.navbar-right
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown') My Dinkoverte <b class="caret"></b>
                    ul.dropdown-menu
                        li
                            a(href='#') Action
                        li
                            a(href='#') Another action
                        li
                            a(href='#') A further action
                        li.divider
                        li
                            a(href='#') A separated link
                        li.divider
                        li
                            a(href='#') Another separated link



